body{
  background-color: powderblue;
}
.App {
  text-align: center;
  width : 400px;
  min-height: 500px;
  margin: 40px auto;
  background-color: crimson;
  border-radius: 15px;
}
.fin{
  font-family: 'Dancing Script', cursive;
}

h1{
  font-family: 'Dancing Script', cursive;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
